


@media only screen and (max-width: 600px){

 .subtituloClases{
    font-size: 15px;
    margin: 25px;
 }

 .cardClases1, .cardClases2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .videoClase {

    display: flex;
    justify-content: center;

    iframe {
        margin: 15px;
        width: 425px;
        height: 200px;
    }
 }


}

@media only screen and (min-width: 600px) {

    .cajaTitulosClase {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .subtituloClases{
        font-size: 20px;
        margin: 25px;
     }

    .cardClases1 {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        margin: 15px;
    }
    .cardClases2 {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        margin: 15px;
    }


    .videoClase {

        display: flex;
        justify-content: center;
    
        iframe {
            margin: 50px 0;
            width: 1325px;
            height: 500px;
        }
     }




}