/* CONTACTO */

.tituloContacto {
    margin: 15px;
    text-align: center;
}

.viasContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ul {
        display: flex;
        list-style-type: none;
        margin: 5px;
    }
}


.formularioMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.itemClases{
    background-color: rgb(245, 150, 150);
}

@media only screen and (max-width: 600px) {
    .infoFormulario{
        margin: 40px;
    }

    .viasContacto {
        p{
            text-align: center;
            margin: 10px;
        }

        ul {
           li{
                padding: 60px;
            }
        }
    }
    
    .formularioMain {

        div {
            input {
                width: 300px;
            }

            textarea {
                width: 300px;
                height: 100px;
            }
        }
    }


    .botonForm {
        padding: 15px;
        margin: 0 0 15px 200px;
    }

}

@media only screen and (min-width: 600px) {

    .viasContacto {
        ul {
            li{
                margin: 45px;
                padding: 0 150px;
            }
        }
    }
    
    .infoFormulario{
        margin-bottom: 20px;
        display: flex;

       p {
            padding: 55px;
       }
   
    }
    
    .formularioMain {
        div {
            input {
                width: 500px;   
            }

            textarea {
                width: 500px;   
                height: 300px;
            }
        }
    }

    .botonForm {
        padding: 15px;
        margin: 0 0 15px 430px;
    }

}