

@media only screen and (max-width: 600px) {

    .containerGaleria{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1rem;
        padding: 20px;
    }

    .galeriaImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }

    .galeriaItem:nth-child(8){
        grid-column-start: span 2;
    }
    .galeriaItem:nth-child(6){
        grid-row-start: span 2;
    }
    .galeriaItem:nth-child(9){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
}

@media only screen and (min-width: 600px) {
    
    .containerGaleria{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 300px 300px 300px;
        gap: 1rem;
        padding: 20px;

     }

    .galeriaItem{
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }



    .galeriaItem:nth-child(5){
        grid-row-start: span 2;
    }
    .galeriaItem:nth-child(6){
        grid-row-start: span 2;
    }

    .galeriaItem:nth-child(9){
        grid-column-start: span 2;
    }
}