/* INDEX */
 
header {
    background-color: $colorMain;
    display: flex;
    
}

.menuHeader {

    ul {
        display: flex;
        list-style-type: none;
        padding: 15px;

        li{
            a{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                text-decoration: none;
                color: $colorTexto;
            }

            a:hover {
                color: black;
                background-color: pink;
            }
        }
    }
}



.textoInfo{
    img {
        padding: 50px;
        width: 500px;
    }
}



.boton{
    width: 170px;
    height: 100px;
    background: $colorMain;
    border-radius: 15px;
    margin-bottom: 40px;

    a {
        text-decoration: none;
        color: $colorTexto;
    }

    &:hover {
        background-color: black;
    }
}



.textoInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerCards{
    display: flex;
}
.card {
    max-height: 480px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 280%;
    }
   
   header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    
    .logo{
        width: 40%;
        margin-top: 15px;
    }


    .containerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuHeader {

        ul{
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                padding: 10px 0;
            }
        }
    }


    .containerMain {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .imagenAnimada {
        width: 100%;
        height: 100%;
    }
   
    .textoInfo{
        width: 300px;

        img {
            width: 400px;
        }
    }

    .containerCards{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 40px 0px;
    }

    .card{
        margin: 25px 0;
    }

    footer {
        height: 200px;
        text-align: center;
    }

}

@media only screen and (min-width: 600px) {
    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 350%;
    }

    header {
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }

    .logo {
        width: 300px;
        padding: 30px;
    }
        
    .menuHeader{

        ul{
            li{
                margin-right: 45px;
                padding: 30px;
            }
        }
    }
    
    .imagenAnimada{
        img{
            width: 600px;
            height: 600px;
            margin-left: 50px;
        }
    }
    
    .containerMain{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }


    .containerCards{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }    
    

    .cards{
        text-align: center;
        height: 400px;
        margin-top: 15px;

        p{
            font-size: 15px;
        }
    }    

}