@import 'variables.scss';
 
h1 {
    font-family: $fuenteTextos;
    
}

.containerBoton {
    a {
        font-family: $fuenteTextos;
        font-size: 20px;
    }

    .boton {
        color: $colorTexto;
    }
}


.containerCards{
    display: flex;
}
.card {
    max-height: 480px;
}



@media only screen and (max-width: 600px) {
    h1 {
        font-size: 280%;
    }
   
   header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    
    .logo{
        width: 40%;
        margin-top: 15px;
    }


    .containerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuHeader {

        ul{
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                padding: 10px 0;
            }
        }
    }


    .containerMain {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .imagenAnimada {
        width: 100%;
        height: 100%;
    }

    .containerBoton {

        .boton{
            @include btnSize (200px, 80px);
        }
        
    }
    
   
    .textoInfo{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            text-align: center;
        }

        img {
            width: 350px;
        }

        
    }

    .containerCards{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 40px 0px;
    }

    .card{
        margin: 25px 0;

    }

   

    footer {
        height: 200px;
        text-align: center;
    }

}

@media only screen and (min-width: 600px) and (max-width: 992px) {

    h1 {
        font-size: 7vw
    }


    .containerMain{

        margin-top: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .imagenAnimada{

            img{
                width: 250px;
                height: 250px;
               
            }
        }

        .textoInfo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;

            img{
                width: 220px;
                height: 160px;
            }

            p {
                margin-left: 30px
            }
        }
        .containerBoton {

            .boton{
                @include btnSize (130px, 100px);
            }
            
        }
    }

    .containerCards {
        display: flex;
        justify-content: space-between;
        margin: 30px 10px;
    }
    
    .card-text {
        font-size: 12px;
    }
}


@media only screen and (min-width: 992px) {


    h1 {
        font-family: $fuenteTextos;
        font-size: 400%;
    }

    
    .containerMain{

        margin-top: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .imagenAnimada{

            img{
                width: 480px;
                height: 480px;
               
            }
        }

        .textoInfo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;

            img{
                width: 300px;
                height: 200px;
            }

            p {
                margin-left: 30px
            }
        }
        .containerBoton {

            .boton{
                @include btnSize (160px, 90px);
            }
            
        }
    }

    .containerCards{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }    
    

    .cards{
        text-align: center;
        height: 400px;
        margin-top: 15px;


        p{
            font-size: 15px;
        }
    }    

}