@import 'variables.scss';
@import 'index.scss';
@import 'galeria.scss';
@import 'contacto.scss';
@import 'sobrenosotros.scss';
@import 'clases.scss';


* {
    margin: 0px;
    padding: 0px;
}

/* HEADER */

header {

    background: $colorMain;
    display: flex;
    
}

.menuHeader {


    ul {
        display: flex;
        list-style-type: none;
        padding: 25px;

        li{
            a{
                font-family: $fuenteTextos;
                font-weight: 600;
                text-decoration: none;
                color: $colorTexto;
            }

            a:hover {
                color: black;
                background-color: pink;
                border-radius: 2px;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    
    header{
        justify-content: space-between;
    }

    .logo {
        max-width: 220px;
        max-height: 120px;
        padding: 15px;
    }

    .menuHeader {

        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: flex-end ;

        ul {
            display: flex;
            
            list-style-type: none;
            padding: 15px;

            li{
                padding: 0 15px;

                a{
                    font-size: 14px;
                }
            }
        }
    }


}


@media only screen and (min-width: 992px) {
    
    header{
        justify-content: space-between;
    }
    .logo {
        max-width: 300px;
        max-height: 200px;
        padding: 20px;
    }

    .menuHeader {

        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: flex-end ;

        ul {
            display: flex;
            
            list-style-type: none;
            padding: 25px;

            li{
                padding: 0 15px;
            }
        }
    }
}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.boton{
    @include btnSize (150px, 80px);
    background: $colorMain;
    border-radius: 15px;
    margin-bottom: 40px;

    a {
        text-decoration: none;
        color: $colorTexto;
    }

    &:hover {
        background-color: black;
    }
}

.botonContacto{
    @extend .boton;
    color: $colorTexto;
    background-color: $colorSecond
}


.card:hover {
    transition: .4s;
    transform: scale(1.05);
}

/* FOOTER */

footer {
    background: $colorMain;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
}

.copyright{
    color: $colorTexto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}    

.containerRedes{
    display: flex;
    justify-content: center;
    align-items: center;

    ul {

        li {
            display: inline-block;
            margin: 0 5px;
            width: 50px;
            height: 50px;
            text-align: center;

            a {
                display: block;
                padding: 0 10px;
                background: grey;
                color: $colorTexto;
                line-height: 50px;
                font-size: 18px;
                transition: .2s;
            }
        }

        
    }

}    

.containerRedes {

    ul:hover{
        
        a{
            filter: blur(2px);
        }
    }

    ul{

        display: flex;
        padding: 20px;

        li{
            a:hover{
                transform: translateY(-3px) scale(1.10);
                filter: none;
            }

            .facebook:hover {
                background: rgb(66, 103, 178) ;
            }

            .instagram:hover {
                background: rgb(193, 53, 132) ;
            }

            .twitter:hover {
                background: rgb(29, 161, 242) ;
            }

            .linkedin:hover {
                background: rgb(40,103,178) ;
            }

        }
    }

}

